<div class="card-category full-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <h1>All Restaurants</h1>
  <div class="btn btn-ghost" href="#">
    <%= link_to 'New Restaurant', restaurants_new_path %>
  </div>
</div>


<% rand = 0 %>
<div class="container">
  <% @restaurants.each do |restaurant| %>
    <%= link_to(restaurant_path(restaurant)) do %>
      <div class="card-trip">
        <img src="https://source.unsplash.com/collection/312299/restaurant-cafe?#{rand}">
        <div class="card-trip-infos">
          <div>
            <h2><%= restaurant.name %></h2>
            <p><strong><%= restaurant.category.capitalize %>:</strong> <%= restaurant.address %></p>
          </div>
          <h2 class="card-trip-pricing">
            <%= restaurant.phone_number[0..12] %>

            </h2>
          <p>
        </div>
      </div>
    <% end %>
    <% rand += 1 %>
  <% end %>
</div>


